<f:debug>{contact}</f:debug>
<f:layout name="Default" />
<f:section name="main">
<div class="councilcontact">
    <f:if condition="{contact}">
        <h2 class="single_column {color}">{name.first}<br />{name.last}</h2>
        <h3>{title}&nbsp;</h3>
        <div class="image">
            <f:if condition="{contact.imagepath}">
                <f:image src="{contact.imagepath}" alt="{contact.name}" width="225px" />
            </f:if>
        </div>
        <div class="title">
            <f:if condition="{contact.email}">
                <f:link.email email="{contact.email}" title="Schreib {contact.name} eine Mail"><i class="fa fa-envelope"></i></f:link.email>
            </f:if>
            <f:if condition="{contact.facebook}">
                <a href="https://facebook.com/{contact.facebook}" target="_blank" title="{contact.name} auf Facebook"><i class="fa fa-facebook-official"></i></a>
            </f:if>
            <f:if condition="{contact.twitter}">
                <a href="https://twitter.com/{contact.twitter}" target="_blank" title="{contact.name} auf Twitter"><i class="fa fa-twitter"></i></a>
            </f:if>
        </div>
        <div class="description"><span class="prewrap">{contact.description}</span></div>
    </f:if>
</div>

</f:section>